includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        - '#Call to method XMLWriter::writePi\(\) with incorrect case: writePI#'
